@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@font-face {
    font-family: 'Heaters';
    src: url(../fonts/Heaters.otf) format(opentype);
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --green-color: #008348;
}

body {
    height: 100vh;
    font-family: 'League Gothic', sans-serif;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/************************ MAIN CONTENT *******************************/
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 3rem auto;
}
h2 {
    text-align: center;
    font-family: 'Heaters', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}

.girls-container,
.boys-container,
.minimoys-container {
    width: 100%;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(3, 33%);
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid var(--green-color);
    border-radius: 5px;
    align-items: center;
}
.card-title {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem;
}
.card-body {
    display: block;
    text-align: center;
    margin-top: 2rem;
}
.card-img {
    width: 90%;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.card-txt {
    display: block;
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
}
.show-more {
    font-size: 1.5rem;
    display: block;
    width: 50%;
    text-align: center;
    margin: 1.5rem auto;
    border: none;
    cursor: pointer;
    background-color: var(--green-color);
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    color: #f1f1f1;
}
.show-more:hover {
    background-color: #f1f1f1;
    color: var(--green-color);
    border: 1px solid var(--green-color);
    font-weight: bold;
}
/******* MODAL *********/
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 2rem;
    background-color: rgba(0, 131, 72, 0.8);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.modal.active {
    opacity: 1;
    z-index: 9999;
    height: 100%;
    overflow-y: auto;
}
.close-btn {
    background-color: red;
    padding: 5px 8px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close-btn:hover {
    transform: scale(1.1);
    color: #f1f1f1;
}
.modal-title {
    font-size: 2.5rem;
    margin-top: 35px;
    font-weight: bold;
    text-decoration: underline;
    color: #f1f1f1;
}
.modal-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
}
.modal-body > p {
    margin: 25px 0;
    font-size: 1.7rem;
    color: #f1f1f1;
}
.modal-img,
.modal-iframe {
    width: 100%;
    border-radius: 5px;
    margin: 25px 0;
}
.modal-iframe {
    border: none;
    height: 30rem;
}

#btn-to-top {
    font-size: 6rem;
    color: var(--green-color);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.5s;
}
#btn-to-top:hover {
    color: #000;
}
#btn-to-top.show {
    opacity: 1;
}

/***************************** RESPONSIVE *********************************/
@media screen and (max-width: 900px) {
    .girls-container,
    .boys-container,
    .minimoys-container {
        grid-template-columns: repeat(2, 50%);
    }
}
@media screen and (max-width: 767px) {
    h2 {
        font-size: 2.5rem;
    }
    .card-title {
        font-size: 1.7rem;
    }
    #btn-to-top {
        font-size: 4rem;
        bottom: 1rem;
        right: 1rem;
        color: var(--green-color);
    }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
    .girls-container,
    .boys-container,
    .minimoys-container {
        grid-template-columns: repeat(1, 100%);
    }
}
