.footer {
    height: 100px;
    background-color: var(--green-color);
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.section-footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    width: 100%;
    font-size: 2rem;
}
.section-footer-1 img {
    width: 25px;
    margin: 0 25px;
}
.section-footer-2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
}
.section-footer-2 > a {
    color: #f1f1f1;
    margin: 0 5px;
}
/* ----------- RESPONSIVE ------------ */
@media screen and (max-width: 767px) {
    .footer {
        height: auto;
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
    }
    .section-footer-1,
    .section-footer-2 {
        font-size: 1.8rem;
        height: 100%;
        line-height: 75px;
    }
    .section-footer-1 a {
        line-height: 75px;
    }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
    .footer {
        padding: 2.5%;
    }
    .section-footer-1 {
        line-height: normal;
    }
    .section-footer-1 img {
        margin: 0 10px;
    }
}