@font-face {
    font-family: 'Heaters';
    src: url(../fonts/Heaters.otf) format(opentype);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --green-color: #008348;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 9999;
    background-color: var(--green-color);
    user-select: none;
    display: inline-flex;
    box-shadow: inset 0px -1px 0px #000;
    font-family: 'Heaters', sans-serif;
}

.logo {
    width: 75px;
    margin-left: 15px;
    cursor: pointer;
}

.menu-container {
    width: 100%;
    line-height: 75px;
    text-align: center;
}
.home-item {
    line-height: 75px;
}
.home-item,
.menu-item {
    font-size: 4rem;
    font-weight: 200;
    text-decoration: none;
    color: #f1f1f1;
    margin: 0 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.home-item:hover,
.menu-item:hover {
    color: #000;
}

.btn-menu-toggle {
    display: none;
}

@media screen and (max-width: 1200px) {
    .home-item,
    .menu-item {
        font-size: 3rem;
    }
}
@media screen and (max-width: 950px) {
    .home-item,
    .menu-item {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 850px) {
    .home-item,
    .menu-item {
        font-size: 2rem;
    }
}
@media screen and (max-width: 767px) {
    .logo {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
    }
    .home-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.3rem;
    }
    .menu-container {
        width: 100%;
        position: absolute;
        display: none;
        background-color: rgba(0, 131, 72, 0.576);
        top: 7rem;
        line-height: unset;
        padding: 2rem;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        transform: translateY(-100%);
        font-weight: bolder;
        z-index: 9999;
    }
    .open {
        transform: translateY(0%);
        display: block;
        transition: transform 0.3s ease-out;
    } 
    .menu-item {
        margin: 1rem auto;
        display: block;
        width: fit-content;
        font-size: 1.7rem;
    }
    .btn-menu-toggle {
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .lines {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: #f1f1f1;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    .lines:nth-child(1) {
        top: 0px;
    }
    .lines:nth-child(2) {
        top: 12px;
    }
    .lines:nth-child(3) {
        top: 24px;
    }
    .btn-menu-toggle.active .lines:nth-child(1) {
        top: 9px;
        transform: rotate(135deg);
    }
    
    .btn-menu-toggle.active .lines:nth-child(3) {
        top: 9px;
        transform: rotate(-135deg);
    }
    .btn-menu-toggle.active .lines:nth-child(2) {
        opacity: 0;
        transform: translateX(20px);
    }
}
