@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@font-face {
  font-family: 'Heaters';
  src: url(../fonts/Heaters.otf) format(opentype);
}
@font-face {
  font-family:'Hey August' ;
  src: url(../fonts/Hey\ August.ttf) format(truetype);
}





*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green-color: #008348;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'League Gothic', sans-serif;
  background: #fff;
  overflow-x: hidden;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.panel-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 12.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease;
  list-style-type: none;
}
.panel:nth-child(5),
.panel:nth-child(7) {
  background-position: top center;
} 
.panel:nth-child(6) {
  background-size: cover;
}
.panel-inner {
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}
.panel-title {
  display: grid;
  grid-template-columns: 1fr 11fr;
  height: 100%;
  
}
.panel-title1,
.panel-title3,
.panel-title5,
.panel-title7 {
  background-color: rgba(0, 133, 73, 0.9);
}
.panel-title2,
.panel-title4,
.panel-title6,
.panel-title8 {
  background-color: rgba(241, 241, 241, 0.75);
}
.panel-title2 h3,
.panel-title4 h3,
.panel-title6 h3,
.panel-title8 h3 {
  color: var(--green-color);
}
.panel-title img {
  width: 0;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease-in;
}
.panel:hover .panel-title > img {
  opacity: 1;
  width: 20rem;
}
h3 {
  color: #f1f1f1;
  cursor: pointer;
  font-family: 'Heaters', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 12.5vh;
  text-align: end;
  margin-right: 40px;
  text-transform: capitalize;
}
.span-h3 {
  font-family: 'Hey August', sans-serif;
  font-size: 4rem;
  font-weight: 200;
}
.about {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 100%;
 width: 90%;
}
.about-white > .list-container > .list-item {
  color: var(--green-color);
}
.about-white > .about-text {
  color: var(--green-color);
}
.list-container {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 2.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.list-item {
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
}
.about-text {
  font-size: 2.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.btn {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  z-index: 5;
  background-color: #000;
  color: #f1f1f1;
  font-size: 1.8rem;
  width: 10rem;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  padding: 1rem 1.5rem;
  transition: opacity 0.7s ease-in;
}
.panel:hover {
  height: 60vh;
}
.panel:hover .btn,
.panel:hover .about-text,
.panel:hover .list-container {
  opacity: 1;
}
.btn:hover {
  background-color: #f1f1f1;
  color: #008348;
}
/******************************* RESPONSIVE *****************************/
@media screen and (max-width: 1200px) {
  .list-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item {
    margin: 1.3rem 0rem;
  }
  .about-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 975px) {
  .panel-title {
    grid-template-columns: 3fr 9fr;
  }
}
@media screen and (max-width: 900px) {
  .panel:hover .panel-title > img {
    width: 15rem;
  }
  .list-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item {
    margin: 1.5rem 0rem;
  }
  .btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 1.1rem;
  }
  .about-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 625px){
  .panel:hover .panel-title > img {
    width: 10rem;
  }
  h3 {
    font-size: 3.25rem;
  }
}
@media screen and (min-width:320px) and (max-width: 575px) {
  .panel:hover .panel-title > img {
    width: 8rem;
  }
  h3 {
    font-size: 2rem;
  }
  .about-text {
    font-size: 1.3rem;
  }
}

