@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #008348;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

h2 {
    position: absolute;
    color: #fff;
    font-size: 4rem;
    left: 50%;
    top: 20%;
    text-transform: uppercase;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: 0.2rem solid #fff;
    border-radius: 5px;
    font-size: 1.6rem;
    width: 15rem;
    padding: 1.5rem;
}
.split.home .btn:hover{
    background-color: #008348;
    border-color: #008348;
}
.split.shop .btn:hover{
    background-color: #008348;
    border-color: #008348;
}

.split.home {
    left: 0;
    background: url('../../ressources/images/win-game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.split.home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 131, 72, 0.65);
}

.split.shop {
    right: 0;
    background: url('../../ressources/images/shop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.split.shop::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.split.home,
.split.shop,
.split.home::before,
.split.shop::before {
    transition: all 1000ms ease-in-out;
}

.hover-home .home {
    width: 75%;
}
.hover-home .shop {
    width: 25%;
}
.hover-shop .shop {
    width: 75%;
}
.hover-shop .home {
    width: 25%;
}

@media screen and (max-width: 767px) {
    h2{
        font-size: 2.5rem;
    }
    .btn {
        width: 12rem;
    }
    .split {
        width: 100%;
        height: 50%;
    }
    .split.home {
        top: 0;
    }
    .split.shop {
        bottom: 0;
    }
    .hover-home .home {
        height: 75%;
        width: 100%;
    }
    .hover-home .shop {
        height: 25%;
        width: 100%;
    }
    .hover-shop .shop {
        height: 75%;
        width: 100%;
    }
    .hover-shop .home {
        height: 25%;
        width: 100%;
    }
}