@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@font-face {
    font-family: 'Heaters';
    src: url(../fonts/Heaters.otf) format(opentype);
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --green-color: #008348;
}

body {
    height: 100vh;
    font-family: 'League Gothic', sans-serif;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/*********************************** MAIN CONTENT **********************************/
.main-container {
    margin-top: 150px;
}
.container {
    width: 85%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
    font-family: 'Heaters', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}
h3 {
    font-family: 'Heaters', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
    font-size: 5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3:nth-child(2),
h3:nth-child(3) {
    margin-top: 30px;
}

/********* MARQUEE *********/

.thanks-container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #f1f1f1;
}
.thanks-text {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-weight: 200;
    color: var(--green-color);
    letter-spacing: 3px;
}

/********** GRID ***********/
.grids-container {
    width: 100%;
    margin: 40px auto;
}
.grid-premium-partners,
.grid-important-partners,
.grid-officials-partners {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 20px;
    text-align: center;
}
.grid-important-partners,
.grid-officials-partners {
    margin-top: 25px;
    margin-bottom: 10px;
}
.grid-premium-partners > a,
.grid-important-partners > a,
.grid-officials-partners > a {
    display: block;
    text-align: center;
}
.img-grid {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--green-color);
    background-color: #fff;
    object-fit: contain;
}
.img-grid:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

/********* CONTACT SECTION ***********/

.be-a-partner-container {
    margin-top: 20px;
}
.contact-txt {
    font-size: 1.8rem;
    text-align: center;
}
.contact-us {
    display: flex;
    margin: 20px auto;
    width: 400px;
    justify-content: space-around;
}
.mail,
.phone {
    width: 100%;
    background-color: var(--green-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
}
.mail:hover,
.phone:hover {
    background-color: #f1f1f1;
    border: 1px solid var(--green-color);
}
.mail:hover a,
.phone:hover a {
    color: var(--green-color);
    font-weight: bold;
}
.mail {
    margin-right: 15px;
}
.phone {
    margin-left: 15px;
}
.mail > a,
.phone > a {
    text-decoration: none;
    color: #f1f1f1;
}

/*********************** RESPONSIVE ********************************/

@media screen and (max-width: 1160px) {
    .thanks-text {
        font-size: 3rem;
    }
}
@media screen and (max-width: 950px) {
    .grid-premium-partners,
    .grid-important-partners,
    .grid-officials-partners {
        grid-template-columns: repeat(3, 30%);
    }
    .thanks-text {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 767px) {
    h2 {
        font-size: 2.5rem;
    }
    .thanks-text {
        font-size: 1.8rem;
    }
    .grid-premium-partners,
    .grid-important-partners,
    .grid-officials-partners {
        grid-template-columns: repeat(2, 45%);
    }
    .contact-us {
        width: 350px;
    }
    .mail, .phone {
        font-size: 1.5rem;
        padding: 10px 15px;
    }
    .contact-txt {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 615px) {
    .thanks-text {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
    .thanks-text {
        font-size: 1.1rem;
    }
    .mail, .phone {
        justify-content: space-around;
        padding: 5px 7px;
    }
}