@font-face {
  font-family: 'Hey August';
  src: url(../fonts/Hey\ August.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #f1f1f1;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.panel-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 12.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease;
  list-style-type: none;
}
.panel:nth-child(5) {
  background-position: top center;
} 
.panel:nth-child(6) {
  background-size: contain;
}

.panel-inner {
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}

h3 {
  background-color: rgba(0, 131, 72, 0.9);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-family: 'Hey August', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  line-height: 12.5vh;
  text-transform: capitalize;
}

.about {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 100%;
 width: 90%;
 
}

.list-container {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.7rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.list-item {
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
}

.about-text {
  font-size: 1.7rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.btn {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  z-index: 5;
  background-color: #000;
  color: #f1f1f1;
  font-size: 1.8rem;
  width: 10rem;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  padding: 1rem 1.5rem;
  transition: opacity 0.7s ease-in;
}

.panel:hover {
  height: 60vh;
}

.panel:hover .btn,
.panel:hover .about-text,
.panel:hover .list-container {
  opacity: 1;
}

.btn:hover {
  background-color: #f1f1f1;
  color: #008348;
}

@media screen and (max-width: 1200px) {
  .list-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item {
    margin: 1.3rem 0rem;
  }
  .about-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .list-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item {
    margin: 1.5rem 0rem;
  }

  .btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 1.1rem;
  }

  .about-text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width:320px) and (max-width: 575px) {
  h3 {
    font-size: 2.5rem;
  }
  .about-text {
    font-size: 1.3rem;
  }
}

