@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #000;
  flex: 2;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 2.4rem;
  position: absolute;
  top: 6rem;
  left: 2.4rem;
  transform: rotate(90deg);
}

.panel.active {
  flex: 6;
}

.panel.active h3 {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in 0.4s;
}

.about {
  position: absolute;
  top: 40%;
  left: 20%;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
