@font-face {
    font-family: 'Hey August';
    src: url(../fonts/Hey\ August.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --green-color: #008348;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/*********************************************** MAIN CONTENT ******************************************/
.container {
    max-width: 1250px;
    height: 900px;
}
@media screen and(max-width: 1150px) {
    .container {
        max-width: 1000px;
    }

}

.container h2 {
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    color: #008348;
    font-family: 'Hey August', sans-serif;
    font-weight: 100;
}

.container1 {
    height: auto;
    margin: 2rem auto;
}

.content1 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
@media screen and (max-width: 1150px) {
    .content1 {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

.card {
    margin: 1.5rem;
    height: 40rem;
    width: 30rem;
    border-radius: 1rem;
    background: #808080;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 70px 63px -60px var(--green-color);
    transition: background 0.8s;
}
.border {
    height: 39rem;
    border-radius: 1rem;
    width: 29rem;
    position: relative;
    transition: border 0.5s;
    background: transparent;
    color: transparent;
}
.border:hover {
    border: 2px solid var(--green-color)
}

h3 {
    font-size: 2.5rem;
    margin: 1.5rem;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.stat {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 13rem;
    width: 12rem;
    bottom: 2rem;
    left: 1rem;
    font-size: 1.5rem;
}

h3, .stat {
    color: var(--green-color);
    opacity: 0;
}

.card:hover h3, 
.card:hover .stat {
    opacity: 1;
    transition: opacity 1s;
}

.card1 {
    background: url('../ressources/images/ju2.jpg') center center no-repeat;
    background-size: 42rem;
}
.card2 {
    background: url('../ressources/images/ax.jpg') center center no-repeat; 
    background-size: 42rem;
    
}
.card3 {
    background: url('../ressources/images/marou.jpg') top center no-repeat; 
    background-size: 42rem;
}
.card4 {
    background: url('../ressources/images/carla3.jpg') top center no-repeat; 
    background-size: 42rem;
}
.card5 {
    background: url('../ressources/images/florine.jpg') center center no-repeat; 
    background-size: 42rem;
}
.card6 {
    background: url('../ressources/images/fayzat2.jpg') top center no-repeat; 
    background-size: 42rem;
}
.card7 {
    background: url('../ressources/images/kendall.jpg') center center no-repeat; 
    background-size: 42rem;
}
.card8 {
    background: url('../ressources/images/lucile.jpg') center center no-repeat; 
    background-size: 42rem;
    
}
.card9 {
    background: url('../ressources/images/coumba.jpg') center center no-repeat; 
    background-size: 42rem;
}
.card10 {
    background: url('../ressources/images/evan-fournier.jpg') center center no-repeat; 
    background-size: 42rem;
    
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover,
.card7:hover,
.card8:hover,
.card9:hover,
.card10:hover {
    background-size: 52rem;
}

.card3:hover,
.card4:hover,
.card6:hover,
.card9:hover {
    background-position: top center;
}
.card1:hover,
.card2:hover,
.card5:hover,
.card7:hover,
.card8:hover,
.card10:hover {
    background-position: center center;
}

#btn-to-top {
    font-size: 6rem;
    color: var(--green-color);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.5s;
}
#btn-to-top:hover {
    color: #000;
}
#btn-to-top.show {
    opacity: 1;
}

/***************************** RESPONSIVE *********************************/

@media screen and (max-width: 767px) {
    .container1 {
        display: flex;
        flex-direction: column;
    } 
    .content1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #btn-to-top {
        font-size: 4rem;
        bottom: 1rem;
        right: 1rem;
        color: var(--green-color);
    }
}