@font-face {
    font-family: 'Hey August';
    src: url(../fonts/Hey\ August.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --green-color: #008348;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/*********************************** MAIN CONTENT **********************************/

.container {
    width: 90%;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
    font-family: 'Hey August', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--green-color);
}

/********* MARQUEE *********/

.bandeau {
    margin-top: 5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px var(--green-color);
}
.marquee-container {
    margin-top: 5rem;
    min-width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
}
.marquee {
    width: 100%;
    animation: scroll-x 8s linear infinite;
}
.marquee:hover {
    animation-play-state: paused;
}
.marquee-text {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Hey August', sans-serif;
    font-weight: 200;
    color: var(--green-color);
    letter-spacing: 3px;
}

@keyframes scroll-x {
    from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
}

/********** GRID ***********/
.grids-container {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-premium-partners,
.grid-important-partners,
.grid-officials-partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.grid-important-partners,
.grid-officials-partners {
    margin-top: 4rem;
}
.img-grid {
    width: 27.5rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px var(--green-color);
    background-color: #fff;
}
.img-grid:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

#btn-to-top {
    font-size: 6rem;
    color: var(--green-color);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.5s;
}
#btn-to-top:hover {
    color: #000;
}
#btn-to-top.show {
    opacity: 1;
}
/*********************** RESPONSIVE ********************************/
@media screen and (max-width: 1300px) {
    .img-grid {
        width: 25rem;
    }
}
@media screen and (max-width: 1160px) {
    .img-grid {
        width: 22.5rem;
    }
    .marquee-text {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1050px) {
    .img-grid {
        width: 20rem;
    }
}
@media screen and (max-width: 950px) {
    .grid-premium-partners,
    .grid-important-partners,
    .grid-officials-partners {
        grid-template-columns: repeat(3, 1fr);
    }
    .marquee-text {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 767px) {
    .marquee-text {
        font-size: 1.8rem;
    }
    .grid-premium-partners,
    .grid-important-partners,
    .grid-officials-partners {
        grid-template-columns: repeat(2, 1fr);
    }
    #btn-to-top {
        font-size: 4rem;
        bottom: 1rem;
        right: 1rem;
        color: var(--green-color);
    }
}
@media screen and (max-width: 615px) {
    .marquee-text {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
    .img-grid {
        width: 15rem;
    }
    .marquee-text {
        font-size: 1.1rem;
    }
}